EMEWE.CarManagement.Commons/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="IsertBlack">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balck_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="balck_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="balck_indes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="balck_phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="balck_state" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="istrue" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="balck_reason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="balck_remark" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsertBlackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsertBlackResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IsertBlackSoapIn">
    <wsdl:part name="parameters" element="tns:IsertBlack" />
  </wsdl:message>
  <wsdl:message name="IsertBlackSoapOut">
    <wsdl:part name="parameters" element="tns:IsertBlackResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="IsertBlack">
      <wsdl:input message="tns:IsertBlackSoapIn" />
      <wsdl:output message="tns:IsertBlackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsertBlack">
      <soap:operation soapAction="http://tempuri.org/IsertBlack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsertBlack">
      <soap12:operation soapAction="http://tempuri.org/IsertBlack" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3075/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3075/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>